* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: rgb(63, 63, 63);
  font-size: 1.2rem;
  width: 33%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin:  10px 0;
  overflow: hidden;
}

.card p {
  padding: 6px;
  text-align: center;
}

.card img {
  min-height: 170px;
  width: 100%;
}